@model WUT_MSI.DataBaseLayer.Tables.DbCountryAttributes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DbCountryAttributes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClimateAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClimateAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevelopmentAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevelopmentAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RainsAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RainsAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopulationAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PopulationAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DensityAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DensityAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JetAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JetAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeaAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeaAttribute_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MountainAttribute_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MountainAttribute_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
