@model IEnumerable<WUT_MSI.DataBaseLayer.Tables.DbCountryAttributes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClimateAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevelopmentAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RainsAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicineAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopulationAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DensityAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JetAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeaAttributeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MountainAttributeValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClimateAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevelopmentAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RainsAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopulationAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DensityAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JetAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeaAttributeValue.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MountainAttributeValue.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
